version: "3.9"

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      APP_NAME: APP_NAME from docker compose file
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
